<!DOCTYPE html>
<html>
<head>
    <title>Upload Resume</title>
</head>
<body>
    <h1>Resume Analyzer</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>Select Resume:</label><br>
        <input type="file" name="resume" required><br><br>

        <label>Select Job Description:</label><br>
        <select name="jd_file">
            <option value="job_description.txt">Data Scientist</option>
            <option value="job_description1.txt">Metaverse Engineer</option>
        </select><br><br>

        <input type="submit" value="Analyze">
    </form>
</body>
</html>